

<form class="row" [formGroup]="service.employeeForm" (submit)="onSubmit()" [class.submitted]="submitted">
    <div class="col-12 mb-3">
        <label class="form-label">Name</label>
        <input class="form-control form-control-lg" placeholder="Enter full name" formControlName="fullname">
    </div>

    <div class="col-12 mb-3">
        <label class="form-label">Location</label>
        <input class="form-control form-control-lg" placeholder="City,Country" formControlName="location">
    </div>

    <div class="col-6 mb-3">
        <label class="form-label">Position</label>
        <input class="form-control form-control-lg" placeholder="Designation" formControlName="position">
    </div>

    <div class="col-6 mb-3">
        <label class="form-label">Salary</label>
        <input class="form-control form-control-lg" placeholder="Per Year" formControlName="salary">
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>

    













</form>